audio/shoot.mp3
audio/shredded-midi.mp3
audio/blaster.mp3
audio/die.mp3
audio/explosion.mp3
audio/heavy_shoot.mp3
audio/player-ded.mp3
audio/player-hurt.mp3
audio/shoot1.mp3
audio/heart-faith-and-steel-midi.mp3
audio/shotgun-cocking.mp3
audio/shotgun.mp3
