#mobileControls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 0;
    opacity: .7;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
#mobileControls.optionsShowing,
#mobileControls,
.mobile #mobileControls.optionsShowing, 
.mobile #mobileControls.off{
    display: none;
}
.mobile #mobileControls {
    display: block;
}
.mobileControl,.btnMove  {
    position: absolute;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;

    transform: scale(1.1);
    transform-origin: right bottom;

}
#btnsMove {
    bottom: 10px;
    left: 6px;
    width: 150px;
    height: 150px;
    background-image: url(../images/Controls/mobileControls.png);
    background-size: 100% auto;
    background-position: 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-origin: left bottom;
}
#btnsMove.backwards{
    background-position-y: 52%;
    left: 8px;
    bottom: 8px;
}
#btnsMove.down{
    background-position-y: 101%;
}
#btnsMove.up{
    background-position-y: -459px;
    height: 147px;
}
#btnsMove.forwards{
    background-position-y: 25%;
}
.btnMove,#btnJump,#btnWheelie, #btnOption{
    width: 50px;
    height: 56px;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#btnMoveUp {
    top: -6px;
    left: 50px;
}
#btnMoveForwards {
    top: 47px;
    left: 100px;
}
#btnMoveBackwards {
    top: 47px;
    left: 0px;
}
#btnMoveDown {
    top: 103px;
    left: 50px;
}
#start-select {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 238px;
    height: 128px;
    opacity: 1;
    background-image: url(../images/Controls/start-select.png);
    background-size: 100% auto;
    opacity: 0;
}
#btnOption,#btnStart{
    top: 19px;
    left: 27px;
    width: 85px;
    height: 109px;
}
#btnStart{
    left: 125px;
}
#btns{
    background-image: url(../images/Controls/btns.png);
    background-size: 100% auto;
    background-position: 0 0;
    width: 168px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat; 
}
#btns.pressedWheelie {
    background-position: 0px -150px;
}
#btns.pressedJump {
    background-position: 0px bottom;
}
#btnWheelie,
#btnJump {
    bottom: 71px;
    right: 10px;
    height: 70px;
    width: 70px;
}
#btnWheelie {
    right: 91px;
    bottom: 8px;
}