@charset "UTF-8";
/* CSS Document */

img,div{border:0; /*position: absolute; */}
body{
    /*position:absolute;*/
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-color:#03061a;

    font-size: 14px;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Press Start 2P', monospace;
    /*font-weight: bold;*/
    overflow: hidden;
    
}

@font-face {
    font-family: 'FutureMillennium';
    src: url('../fonts/FutureMillennium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 576px;
    max-height: 320px;
}
#container canvas,
#container #overlays {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    max-width: 576px;
}
#wrap {
    overflow: hidden;
    text-align: center;
    cursor: url(../images/cursor.png), auto;
    background-image: url(../images/wrapper/tile.jpg);
    background-size: 10vw;
}


/* */
#container {
    transform: translate(-50%,-70%);
}
#hacker-bg {
    background-image: url(../images/wrapper/bg.jpg);
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 1270px;
    height: 1370px;
}
.glitch {
    position: absolute;
    width: 570px;
    height: 470px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: hard-light;
    opacity: 0.4;
}
#glitch02 {
    opacity: 0;
    mix-blend-mode: normal;
    filter: brightness(0.5);
}
#overlay {
    background-image: url(../images/wrapper/overlay1.png);
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 1270px;
    height: 1370px;
}
.overlays {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 576px;
    max-height: 320px;
}
/* */


.abs {
    position: absolute;
}
#bg-canvas {
    /*filter: brightness(0.5);*/
}
#bgOverlay-canvas {
    opacity: 0.4;
    mix-blend-mode: color;
}
#bgOverlay-canvas.hidden {
    opacity: 0;
}

#container canvas#hud-canvas {
    top: calc(50% + 320px);
    left: calc(50% + 190px);
}

.overlays {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
#overlay-bg,#overlay-death,#overlay-jumpH {
    background-color: rgba(255,120,140,0.5);
    mix-blend-mode: saturation;
    max-height: 320px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#overlay-death {
    mix-blend-mode: color;
    background-color: rgba(255,120,140,0.5);
}
#overlay-jumpH {
    animation: pulse .5s infinite alternate;
}
#text-overlay {
    position: absolute;
    width: 80%;
    max-width: 576px;
    height: 320px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    opacity: 1;


}
.txt {
    color: #fff;
    text-align: center;
    font-size: 100%;
    font-family: 'FutureMillennium';
    user-select: none;
}
.txt_popup {
    width: 110%;
    left: 50%;
    height: auto;
    top: 50%;
    line-height: 10vh;
    background-color: #000;
}
#paused_txt {
    width: 50%;
}
#score_txt{
    top: calc(50% + 110px);
    left: calc(50% + 118px);
    height: auto;
    text-align: right;
    width: auto;
    box-sizing: border-box;
}
/* stereo - music readout */
#overlay-stereo {
    display: flex;
    opacity: 1;
    align-items: flex-start;
    justify-content: center;
    max-height: 320px;
    max-width: 576px;
    top: calc(50% + 305px);
    transform: translate(-50%, -50%);
    font-size: 8px;
    box-sizing: border-box;
    text-shadow: 2px 2px 1px #000;
    /* z-index: 101; */
    left: calc(50% + 74px);
    display: none;
}
 
#txt-song{
    display: flex;
    flex-direction: column;
    font-size: 0;
    align-items: flex-start;
    cursor: pointer;
    text-decoration: none;
 }
#txt-song a,#txt-song span{
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    transition: color .5s;
}
#txt-song a:hover {
    color: #b0f2f2;
    transition: color .15s;
}
/*.mobile #txt-song{
    display: inline;
}*/
#song-playback-title,#song-artist{

}
#tape {
    width: 54px;
    height: 19px;
    position: absolute;
    top: calc(50% + 153px);
    left: calc(50% - 27px);
    transform: scale(1.6) translate(-50%, -50%);
    display: none;
}
.tape {
    width: 100%;
    left: 0;
    position: absolute;
}
.tape-wheel{
    position: absolute;
    width: 21%;
    top: 66%;
    left: 60%;
}
.tape-wheel-spin{
    animation: spin 5s infinite linear;
}
#tape-wheel2 {
    left: auto;
    right:61%;
}
#tape-wheel2.tape-wheel-spin{
    animation: spin_alt 5s infinite linear;
}
@keyframes spin {
    0%{transform: rotate(-360deg)}
    100%{transform: rotate(0deg)}
}
@keyframes spin_alt {
    0%{transform: rotate(-90deg)}
    100%{transform: rotate(270deg)}
}

#overlay-stereo .red {color: red;}

.btn_play{
    height: auto;
    top: 50%;
    padding: 0 32px;
    min-height: 32px;
    width: auto;
    left: 50%;
    margin-top: 3em;
    transform: translate(-50%, -50%);
    border-radius: 0;
    /*color: red;*/
    /*background: linear-gradient(#f00 38%, #dbff00 64%);*/
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    z-index: 900;
    background-image: url(../images/Text/bg.png);
}
.btn_play::before{
    content: "";
    background-image: url(../images/Text/bgL.png);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    left: 0;
}
.btn_play::after{
    content: "";
    background-image: url(../images/Text/bgR.png);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
}
#restart_btn{
    color:red;
}
button#restart_btn:hover{
    color: yellow;
    transition: color 0s linear;
    box-shadow: 3px 3px 0px yellow;
}
button,#dev-tools input{
    font-family: 'Press Start 2P';
    background-color: rgba(255,255,0,.2);
    color: #fff;
    border:none;
    font-size: 1vw;
    padding: 1vw;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    color: yellow;
}
button:active{
    color: yellow;
    transform: translate(-1px,2px);
}
button.btn_play:active{
    transform: translate(-51%, -45%)
}
button {
    outline: none;
}
.mobile .btn_play,.mobile #died_txt {
    /*font-size: 1.3vw;*/
}
#introContainer,#intro_txt {
    display: block;
}

#introContainer,#endingContainer{
    width: 100%;
    max-width: 576px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    cursor: url(../images/cursor.png), auto;
}
#introContainer{
    max-height: 444px;
    height: 444px;
    top: calc(50% + 59px)
}
.intro-title-img,.end-title-img{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#intro-roar,#intro-primitai{
    top: calc(50%);
    max-height: 320px;
    overflow: hidden;
}
#intro-primitai-logo {
    width: auto
}
#intro-primitai-bg {
    height: 400%;
    width: 100%;
    /*max-width: calc(100vh * 1.8);*/
    background: linear-gradient( #ff0000 0%, #ff0000 70%,
        #ff7000 70.1%, #ff7000 72.5%,
        #ff9800 72.6%, #ff9800 75%,
        #ffc109 75.1%, #ffc109 77.5%,
        #ffeb3b 77.6%, #ffeb3b 100%);
  

}
#intro-primitai .txt,
#intro-licensed-by{
    position: absolute;
    top: 240px;
    width: 100%;
    opacity: 0;
}
#intro-licensed-by{
    top: 80px;
}
#intro-city{
    top: calc(50% + 40px)
}
#intro-city-txt1,
#intro-city-txt2 {
    position: absolute;
    top: 60px;
    width: 100%;
}
#intro-city-txt2 {
    top: 76px;
}
#intro-city-cover {
    background-color: #0d0114;
}
#intro-player {
    left: 89%;
    top: 61%;
}
#container canvas#intro-player-walk {
    left: calc(50% + 180px);
    top: calc(50% + 43px);
}
#intro_txt{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 120px;
    cursor: pointer;
    mix-blend-mode: hard-light;
    animation: pop 1s steps(6) alternate infinite;
}
@keyframes pop {
    0%{ transform: translate(-50%,-50%) scale(1); }
    100%{ transform: translate(-50%,-50%) scale(.9); }
}
#intro_txt:hover{
    animation: none;
    transform: translate(-50%,-50%) scale(1.1);
}
#intro-bg {
    object-fit: cover;
    filter: brightness(0.75);
}
#endingContainer {
    background-color: #000;
    max-height: 100%;
    height: 446px;
    top: calc(50% - 3px);
}
#end-sly {
    top: 50%;
    left: 50%;
    height: 100%;
    width: 104%;
}
#end-txt {
    top: 34%;
    left: 40%;
}
#ending_txt {
    left: calc(50% + 141px);
    transform: translateX(-50%);
    width: 254px;
    height: 40px;
    min-height: 40px;
    margin-top: -8vh;
    line-height: 1.6em;
    background-color: transparent;
}
#end_score_txt {
    top: calc(50% + 25px);
    position: absolute;
    left: calc(50% + 146px);
    width: 263px;
    text-align: center;
    height: auto;
    line-height: 3em;
}
.end_txt {
    font-size: 1.1em;
    text-shadow: 0px 0px 8px black;
}
#footer {
    color: #1c9371;
    position: absolute;
    top: calc(50% + 132px);
    left: calc(50% - 214px);
    transform: translateX(-50%) rotate(-7deg) skew(-7deg);
    font-size: 8px;
    line-height: 13px;
    width: auto;
    text-align: center;
    padding: 1em 0;
    z-index: 101;
    user-select: none;
}
#footer a {
    color: #3afcb6;
    text-decoration: none; 
    user-select: none;  
}
#footer a:hover {
    text-decoration: underline;
    color: #e72ea1;
}
#container.noMouse canvas,#container.noMouse .overlays {
    cursor: none;
}
#screen {
    position: absolute;
    width: 576px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    perspective: 500px;
    cursor: url(../images/cursor.png), auto;
}
.screen2 {
    color: #1c9371;
    position: absolute;
    top: calc(50% + 132px);
    left: calc(50% + 182px);
    transform: rotateY(-19deg) skew(-2deg) scale(0.975);
    font-size: 9px;
    line-height: 13px;
    width: 166px;
    height: 136px;
    text-align: left;
    user-select: none;
}
.arrowLR,.arrowUD{
    font-size: 2.2em;
    line-height: 6px;
    font-weight: bold;
    color: #3afcb6;
}
.arrowUD{
    font-size: 1em;
}
.blinking {
    animation: blink .7s infinite;
}
@keyframes blink {
    0%{ opacity:1 }
    50%{ opacity:1 }
    51%{ opacity:0 }
    100%{ opacity:0 }
}
@keyframes pulse {
    0%{ opacity:1 }
    100%{ opacity:0 }
}
#intro-text-dir {
    font-size: 8px;
    line-height: 11px;
}

.sidePanel { 
    transform: rotateY(-2deg);
    font-size: 7px;
    line-height: 9px;
    width: 59px;
    height: 126px;
    overflow: hidden;
    background-color: transparent;
    border:none;
}
.sidePanel1 {
    width: 59px;
    top: calc(50% - 196px);
    left: calc(50% + 285px);
    color: #7a96ba;
    clip: rect(0px, 58px, 126px, 0px);
}
.sidePanel2 {
    filter: blur(.7px);
    top: calc(50% - 27px);
    left: calc(50% + 285px);
    height: 80px;
    color: #4fa2c2;
}



#dev-tools  {
    display: none;
}
.devTools #dev-tools {
    display: flex;
    flex-direction: column;
    z-index: 900;
    position: absolute;
    bottom: 0;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: .5vw;
    width: 10%;
    text-align: center;
    padding: 1em 0;
    z-index: 101;
}
.mobile #dev-tools{
    bottom: auto;
    top: 0;
}
.hidden {
    opacity: 0;
}
