@charset "UTF-8";
/* CSS Document */

img,div{border:0; /*position: absolute; */}
body{
    /*position:absolute;*/
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-color:#000;

    font-size: 14px;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Press Start 2P', monospace;
    /*font-weight: bold;*/
    overflow: hidden;
}

@font-face {
    font-family: 'FutureMillennium';
    src: url('../fonts/FutureMillennium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 576px;
}
#container canvas,
#container #overlays {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    max-width: 576px;

}
#wrap {
    overflow: hidden;
    text-align: center;
    cursor: url(../images/cursor.png), auto;
}
.abs {
    position: absolute;
}
#bg-canvas {
    /*filter: brightness(0.5);*/
}
#bgOverlay-canvas {
    opacity: 0.4;
    mix-blend-mode: color;
}
#bgOverlay-canvas.hidden {
    opacity: 0;
}

.overlays {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
#overlay-bg,#overlay-death {
    background-color: rgba(255,120,140,0.5);
    mix-blend-mode: saturation;
    max-height: 320px;
    top: 50%;
    transform: translateY(-50%);
}
#overlay-death {
    mix-blend-mode: color;
    background-color: rgba(255,120,140,0.5);
}
#text-overlay {
    position: absolute;
    width: 80%;
    max-width: 576px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txt {
    color: #fff;
    text-align: center;
    font-size: 100%;
    font-family: 'FutureMillennium';
    user-select: none;
}
.txt_popup {
    min-height: 10vh;
    line-height: 10vh;
    background-color: #000;
    margin-top: -10vh;   
}
#paused_txt {
    width: 50%;
    left: 25%;
}
#score_txt{
    top: 50%;
    transform: translateY(-50%);
    max-height: 324px;
    height: 100%;
    text-align: right;
    padding: 5% 0px 0 0px;
    width: 98%;
}
.btn_play{
    height: auto;
    top: 50%;
    padding: 0 32px;
    min-height: 32px;
    width: auto;
    left: 50%;
    margin-top: 3em;
    transform: translate(-50%, -50%);
    border-radius: 0;
    /*color: red;*/
    /*background: linear-gradient(#f00 38%, #dbff00 64%);*/
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    z-index: 900;
    background-image: url(../images/Text/bg.png);
}
.btn_play::before{
    content: "";
    background-image: url(../images/Text/bgL.png);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    left: 0;
}
.btn_play::after{
    content: "";
    background-image: url(../images/Text/bgR.png);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
}
#restart_btn{
    color:red;
}
button#restart_btn:hover{
    color: yellow;
    transition: color 0s linear;
    box-shadow: 3px 3px 0px yellow;
}
button,#dev-tools input{
    font-family: 'Press Start 2P';
    background-color: rgba(255,255,0,.2);
    color: #fff;
    border:none;
    font-size: 1vw;
    padding: 1vw;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    color: yellow;
}
button:active{
    color: yellow;
    transform: translate(-1px,2px);
}
button.btn_play:active{
    transform: translate(-51%, -45%)
}
button {
    outline: none;
}
.mobile .btn_play,.mobile #died_txt {
    /*font-size: 1.3vw;*/
}
#introContainer,#intro_txt {
    display: block;
}

#introContainer,#endingContainer{
    width: 100%;
    max-width: 576px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    cursor: url(../images/cursor.png), auto;
}
#introContainer{
    max-height: 320px;
    background-color: #000;
}
.intro-title-img,.end-title-img{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#intro-roar{
    max-height: 320px;
}
#intro-primitai{
    max-height: 320px;
    overflow: hidden;
}
#intro-primitai-bg {
    height: 400%;
    background: linear-gradient( #ff0000 0%, #ff0000 38%, #ff0000 38%, #f00 60%, #dbff00 80%);
}
#intro-primitai .txt,
#intro-licensed-by{
    position: absolute;
    top: 260px;
    width: 100%;
    opacity: 0;
}
#intro-licensed-by{
    top: 60px;
}
#intro-city-txt1,
#intro-city-txt2 {
    position: absolute;
    top: 60px;
    width: 100%;
}
#intro-city-txt2 {
    top: 76px;
}
#intro_txt{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 1em;
    background-color: #fff;
    color: #000;
    border: solid 1px #fff;
}
#intro_txt.intro-played{
    top: calc(50% + 110px);
    left: calc(50% - 60px);
    border: none;
}
#introContainer:hover #intro_txt{
    background-color: #000;
    color: #fff;
}
#intro_txt.intro-played:hover #intro_txt{
    background-color: #fff;
    color: #000;
}

#ending_txt {
    bottom: calc(50% - 12px);
    left: calc(50% + 71px);
    transform: translateX(-50%);
    width: 364px;
    height: 40px;
    min-height: 40px;
    margin-top: -10vh;
    line-height: 3em;
}
#end_score_txt {
    top: calc(50% + 25px);
    position: absolute;
    left: calc(50% + -56px);
    width: 263px;
    text-align: center;
    background-color: #000;
    height: auto;
    line-height: 3em;
}
#footer {
    color: #fff;
    /*display: none;*/
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9vw;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    z-index: 101;
}
#footer a {
    color: #fff;
    text-decoration: none; 
    user-select: none;  
}
#footer a:hover {
    text-decoration: underline;
    color: #e72ea1;
}
#container.noMouse canvas,#container.noMouse .overlays {
    cursor: none;
}



#dev-tools,.devTools #footer-primitai  {
    display: none;
}
.devTools #dev-tools {
    display: block;
    z-index: 900;
    position: absolute;
    bottom: 0;
    color: #fff;
    /* display: none; */
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9vw;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    z-index: 101;
}
#log {
    width: 16%;
    height: calc(100vh - 142px);
    left: 0;
    position: absolute;
    background: rgba(255,255,0,0.4);
    color: #fff;
    font-size: 0.65em;
    user-select: none;
}
.mobile #dev-tools{
    bottom: auto;
    top: 0;
}
.hidden {
    opacity: 0;
}
