@charset "UTF-8";
/* CSS Document */

img,div{border:0; /*position: absolute; */}
body{
    /*position:absolute;*/
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background-color:#000;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Press Start 2P', monospace;
    /*font-weight: bold;*/
    overflow: hidden;
}
#container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 576px;
}
#container canvas,
#container #overlays {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
#wrap {
    overflow: hidden;
    text-align: center;
}
.hidden {
    opacity: 0;
}
.abs {
    position: absolute;
}

#bgOverlay-canvas {
    opacity: 0.4;
    mix-blend-mode: color;
}

.overlays {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
#overlay-bg {
    background-color: rgba(255,120,140,0.5);
    mix-blend-mode: saturation;
}
#overlay-death {
    mix-blend-mode: color;
    background-color: rgba(255,120,140,0.5);
}
.txt {
    color: #fff;
    text-align: center;
    transform: translateY(50%);
}
#score_txt{
    font-size: .25em;
    top: 50%;
    transform: translateY(-50%);
    max-height: 324px;
    height: 100%;
    text-align: right;
    padding: 5% 0px 0 0px;
    width: 98%;
}
.btn_play{
    height: auto;
    top: 50%;
    padding: 2em 0;
    cursor: pointer;
    width: auto;
    left: 50%;
    margin-top: 4em;
    transform: translate(-50%, -50%);
}
.btn_play:hover,.btn_play:active {
    color: red;
}

#footer {
    color: #fff;
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    width: 100%;
    text-align: center;
}
#footer a {
    color: #fff;
    text-decoration: none; 
}
#footer a:hover {
    text-decoration: underline;
}





